
.post_container{
    background-color: #181823;
    width: 1200px;
    display: inline-grid;
    grid-template-columns: auto auto ;
    padding: 5px;
    margin: 5px;
    column-gap: 5px;
    row-gap: 50px;
    padding: 0px;
    margin-top: 0px;

}
.head{
    grid-column: 1/span2 ;
    background-color: #181823;
    border : 1px solid #c9c9c9 ; 
    border-radius: 20px;
    margin-top: 10px;
    width: 100%;


}

.prof{
grid-column: 1/2;
height: 100%;
background-color: #181823;
/* margin-left: 0px;
margin-top: 0;
padding-top: 0%; */
}

.prof div {
    width: 20rem;
}
.post{
    grid-column: 2/3;
    margin-left: 50px;
    width: 48rem;
    height : 100%;
    background-color: #C0EEF2;
    border : 1px solid #537FE7 ; 
    border-radius: 15px;

}
.postsCont{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content:flex-start;
    margin: 10px;
    height: 90%;
    background-color: #C0EEF2;
    
}