.cntSearch {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70rem;
    flex-wrap: nowrap;
    background-color: #181823;
}
.ser-container {
    margin-top: 4rem;
    width : 30rem;
    height: 15rem;
    background-color: #537FE7;
    border: 2px solid gray;
    border-radius: 20px;
    padding-top: 30px;
}

.ads{
    width : 30rem;
    height: 50rem;
    background-color: #537FE7;
    border: 2px solid gray;
    border-radius: 20px;
    padding-top: 30px;
}